/lib
/lib64
/client/node_modules
/client/package-lock.json
include/
pyvenv.cfg
/bin

*.zip
*.pyc
*.db
*.db-shm
*.db-wal

/lib/
/lib64/
/client/node_modules/
/include/
/bin/

/client/package-lock.json
/pyvenv.cfg

__pycache__/

static/
